@font-face {
    font-family: "Joystix Proportional";
    src: url("./assets/fonts/joystix.ttf") format("opentype");
}


body {
    font-family: "Joystix Proportional";
    background-color: #23241e;
    height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}